{% extends bill_base %}
{% load static %}


{% block title %} Purchases Bill No : {{ bill.billno }}{% endblock title %}


{% block content %}

    <div style="color:#ea2088; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">Purchase Bill No : {{ bill.billno }}</div>

    <br><br>
    
    <form method="post">
    {% csrf_token %}

        <div class="bg">
        
            <br><br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        
                        
                        
                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 350%;">Inventar</span> <br>
                                
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp;NAME  BUYER</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;INVOICE NO</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.billno }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.supplier.name }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;DATE</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.time.date }}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;DESTINATION</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="destination" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.destination %}{{ billdetails.destination }}{% endif %}"> </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: auto; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">&nbsp;SL NO</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">Product Description</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">Quantity</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">RATE</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">AMOUNT IN TAKA</td>
                                        
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.perprice }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;{{ item.totalprice }}</td>
                                            <td class="inner-box" style="width: 5%;">&nbsp;0</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                   
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;TOTAL</td>
                                        <td class="inner-box align-middle">&nbsp; {{bill.get_total_price}} </td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>

                       

                        
                    </tbody>
                </table>

            </div>

            <br><br>

        </div>

        <br><br>

        <div class="wrapper">
            <button class="center ghost-blue" onclick="printpage('printArea')">Print</button>
            <button class="center ghost-green" type="submit">Save Draft</button>
            <a href="{% url 'purchases-list' %}" class=" btn center ghost-button">Go Back</a>
        </div>

    </form>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}